html, body {
  width: 100%;
  height: 100%; }
  html .wrapper, body .wrapper {
    overflow: hidden; }
    html .wrapper .header, body .wrapper .header {
      width: 100%;
      overflow: hidden;
      position: relative;
      top: 0;
      height: calc(100vh); }
      html .wrapper .header .nav, body .wrapper .header .nav {
        height: 60px;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        z-index: 9; }
        html .wrapper .header .nav #msn, body .wrapper .header .nav #msn {
          position: absolute;
          max-height: 25px;
          top: calc(50% - 12.5px);
          left: 0;
          z-index: 5;
          margin-left: 10px; }
        html .wrapper .header .nav .hamburger, body .wrapper .header .nav .hamburger {
          position: absolute;
          right: 0;
          top: 4px;
          z-index: 10; }
      html .wrapper .header .test, body .wrapper .header .test {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: -350px;
        background: RGBA(34, 34, 34, 1);
        color: white;
        z-index: 3;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 700;
        transition: margin-top 500ms ease-in-out; }
        html .wrapper .header .test ul, body .wrapper .header .test ul {
          padding: 45px 0 10px 0px; }
        html .wrapper .header .test li, body .wrapper .header .test li {
          position: relative;
          height: 40px;
          list-style: none;
          text-align: left;
          margin: 0;
          font-size: 1.7rem;
          font-weight: 900;
          padding-left: 30px; }
          html .wrapper .header .test li .arrow-down, body .wrapper .header .test li .arrow-down {
            position: absolute;
            top: -19px;
            right: 30px;
            font-size: 3rem;
            transform: rotate(180deg); }
        html .wrapper .header .test.active, body .wrapper .header .test.active {
          display: block;
          margin-top: 50px; }
        html .wrapper .header .test .about-li, body .wrapper .header .test .about-li {
          background: black;
          padding: 0;
          transition: color 200ms ease-in;
          transform-origin: top;
          transform: scale(0);
          color: black;
          height: 0; }
          html .wrapper .header .test .about-li.show-li, body .wrapper .header .test .about-li.show-li {
            padding: 10px 0 8px 65px;
            transform: scale(1);
            height: auto;
            color: white; }
        html .wrapper .header .test .coach-li, body .wrapper .header .test .coach-li {
          background: black;
          padding: 0;
          transition: color 200ms ease-in;
          transform-origin: top;
          transform: scale(0);
          color: black;
          height: 0; }
          html .wrapper .header .test .coach-li.show-li, body .wrapper .header .test .coach-li.show-li {
            padding: 8px 0 7px 65px;
            transform: scale(1);
            height: auto;
            color: white; }
      html .wrapper .header .overlay, body .wrapper .header .overlay {
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh);
        z-index: 2; }
      html .wrapper .header .header-imgs, body .wrapper .header .header-imgs {
        position: relative;
        width: 1200px;
        height: calc(100vh + 350px);
        z-index: -2;
        left: calc(50% - 700px);
        margin-top: -200px; }
      html .wrapper .header h1, body .wrapper .header h1 {
        position: absolute;
        top: calc(50% - 0px);
        z-index: 2;
        color: white;
        width: 100%;
        text-align: center;
        font-size: 4rem;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 800;
        text-transform: uppercase; }
        html .wrapper .header h1 span, body .wrapper .header h1 span {
          color: RGBA(233, 64, 55, 1);
          font-size: 3rem;
          font-weight: 400; }
    html .wrapper .info, body .wrapper .info {
      z-index: 1;
      position: relative;
      width: 100%;
      padding: 70px 5px 50px 5px; }
      html .wrapper .info img, body .wrapper .info img {
        position: absolute;
        height: 200px;
        width: 400px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.1;
        z-index: -2; }
      html .wrapper .info p, body .wrapper .info p {
        font-size: 2.2rem;
        z-index: 12;
        color: RGBA(36, 45, 53, 1);
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        padding: 40px 10px; }
    html .wrapper .image-info .center .image, body .wrapper .image-info .center .image {
      width: 100vh; }
      html .wrapper .image-info .center .image img, body .wrapper .image-info .center .image img {
        width: 100vh; }
    html .wrapper .image-info .center .info-sec, body .wrapper .image-info .center .info-sec {
      background: RGBA(255, 250, 237, 1);
      padding: 50px 5px; }
      html .wrapper .image-info .center .info-sec h3, body .wrapper .image-info .center .info-sec h3 {
        font-size: 2.5rem;
        z-index: 12;
        color: RGBA(36, 45, 53, 1);
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 600;
        margin-top: 0;
        text-align: center; }
      html .wrapper .image-info .center .info-sec p, body .wrapper .image-info .center .info-sec p {
        font-size: 2.2rem;
        z-index: 12;
        color: RGBA(36, 45, 53, 1);
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        padding: 10px 20px; }
  @media only screen and (min-width: 500px) {
    html .header-imgs, body .header-imgs {
      position: relative;
      width: 1500px;
      height: 100%;
      min-height: 900px;
      max-height: 900px;
      z-index: -2;
      left: 50%;
      transform: translateX(-50%); } }
